<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit Product</h1>
    <form action="/products/<%= product.id %>?_method=PUT" method="POST">
        <label for="name">Name </label>
        <input type="text" name="name" id="name" value="<%= product.name %>" />
  
        <label for="brand">Brand</label>
        <input type="text" name="brand" id="brand" value="<%= product.brand %>"/>
  
        <label for="price">Price</label>
        <input type="number" name="price" id="price" value="<%= product.price %>" />
  
        <label for="color">Color</label>
        <input type="text" name="color" id="color"value="<%= product.color %>" />
  
        <label for="category" >Category</label>
        <select name="category" id="category">
          <option value="">Pilih Category</option>
          <option value="Baju" <%= product.category == "Baju" ? "selected" : ""  %>>Baju</option>
          <option value="Celana" <%= product.category == "Celana" ? "selected" : ""  %>>Celana</option>
          <option value="Sepatu"<%= product.category == "Sepatu" ? "selected" : ""  %>>Sepatu</option>
          <option value="Jaket"<%= product.category == "Jaket" ? "selected" : ""  %>>Jaket</option>
        </select>
        <button>Edit</button>
      </form>
      <a href="/products">Cancel</a>
  </body>
</html>
